@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all 0.3s ease;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: "Poppins", sans-serif;
}
#root {
  width: 100vw;
  height: 100vh;
}
.logo-shadow{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.shadow-css {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.glass {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
